.demo
    .demo__ico
    .demo__cont
        .demo__settings
            .demo__group
                .demo__label Color theme:
                .demo__themes
                    .demo__theme.demo__theme_active.demo__theme_dark(data-theme='solid_dark', title='Dark')
                    .demo__theme.demo__theme_lilac(data-theme='transparent_lilac', title='Lilac')