table.datalist__table.table.datatable.display.table-hover(width='100%')
    thead
        tr
            th.orders__id #ID
            th.orders__product Product
            th.orders__user User
            th.orders__date Date
            th.orders__salary Sum
    tbody
        tr
            td 23726997
            td
                a(href='') Paula Cox
            td
                a(href='') Ala-Septic
            td 2/8/2015
            td $1086.61
        tr
            td 67064184
            td
                a(href='') Carlos Sullivan
            td
                a(href='') Paroxetine
            td 7/14/2015
            td $1790.80