table.datalist__table.table.datatable.display.table-hover(width='100%')
    thead
        tr
            th.orders__id #ID
            th.orders__product Product
            th.orders__user User
            th.orders__date Date
            th.orders__salary Sum
    tbody
        tr
            td 90124738
            td
                a(href='') Shirley Chapman
            td
                a(href='') Carimune
            td 4/2/2015
            td $1699.75
        tr
            td 59011873
            td
                a(href='') Christopher Richards
            td
                a(href='') HGH Complex
            td 5/25/2015
            td $1504.66
        tr
            td 93187970
            td
                a(href='') Angela Kennedy
            td
                a(href='') AsthmaCare
            td 1/16/2015
            td $312.63
        tr
            td 83627698
            td
                a(href='') Theresa Weaver
            td
                a(href='') Lorazepam
            td 8/27/2015
            td $1549.42
        tr
            td 80756429
            td
                a(href='') Gary Long
            td
                a(href='') Vitafol
            td 2/10/2015
            td $527.14
        tr
            td 17816111
            td
                a(href='') Judy Shaw
            td
                a(href='') Neosporin Original
            td 7/8/2015
            td $1455.37
        tr
            td 96769682
            td
                a(href='') Joan Day
            td
                a(href='') Cheratussin AC
            td 7/12/2015
            td $1708.15
        tr
            td 98729112
            td
                a(href='') Earl Berry
            td
                a(href='') DEMEROL
            td 6/7/2015
            td $1004.53
        tr
            td 45814805
            td
                a(href='') Dennis Perry
            td
                a(href='') Q Tussin DM
            td 4/20/2015
            td $761.50
        tr
            td 60833835
            td
                a(href='') Helen Ramirez
            td
                a(href='') Acid Controller
            td 10/6/2015
            td $681.41
        tr
            td 59026432
            td
                a(href='') Wanda Watson
            td
                a(href='') ProBLEN Libido
            td 12/7/2015
            td $335.93
        tr
            td 13471645
            td
                a(href='') Richard White
            td
                a(href='') Bug Away
            td 4/19/2015
            td $430.83
        tr
            td 19367262
            td
                a(href='') Walter Austin
            td
                a(href='') SAPHRIS
            td 12/10/2015
            td $1626.00
        tr
            td 14382666
            td
                a(href='') Mildred Ramos
            td
                a(href='') Amitiza
            td 11/28/2015
            td $241.25