table.datalist__table.table.datatable.display.table-hover(width='100%')
    thead
        tr
            th.products__id #ID
            th.products__pic Pic
            th.products__title Title
            th.products__date Date
            th.products__salary Salary
            th.products__status Status
            th.products__chart Stat
            th.products__type Type
    tbody
        tr
            td 54256918
            td
                i.products__cover.fa.fa-picture-o
            td Naproxen
            td 5/27/2015
            td $1354.43
            td Inactive
            td
                .products__stat 9, 2, 8, 1, 9, 0, 4, 2, 4, 0
            td Affilate
        tr
            td 43833375
            td
                i.products__cover.fa.fa-picture-o
            td equaline antacid
            td 5/24/2015
            td $167.16
            td Active
            td
                .products__stat 9, 5, 2, 8, 3, 1, 7, 1, 1, 8
            td Affilate
        tr
            td 73544289
            td
                i.products__cover.fa.fa-picture-o
            td Tears lubricant
            td 5/27/2015
            td $1148.26
            td Inactive
            td
                .products__stat 6, 6, 3, 2, 7, 6, 9, 6, 6, 4
            td Affilate
        tr
            td 42148400
            td
                i.products__cover.fa.fa-picture-o
            td SALICYLIC ACID
            td 7/6/2015
            td $1612.41
            td Active
            td
                .products__stat 2, 9, 3, 9, 1, 6, 3, 8, 1, 9
            td Affilate
        tr
            td 60418329
            td
                i.products__cover.fa.fa-picture-o
            td Degree Women
            td 10/18/2015
            td $877.05
            td Active
            td
                .products__stat 5, 7, 6, 2, 2, 8, 0, 1, 5, 7
            td Affilate
        tr
            td 59985297
            td
                i.products__cover.fa.fa-picture-o
            td Carbamazepine
            td 6/10/2015
            td $1054.81
            td Inactive
            td
                .products__stat 8, 1, 6, 5, 1, 2, 2, 9, 1, 1
            td Affilate
        tr
            td 31112947
            td
                i.products__cover.fa.fa-picture-o
            td Divalproex Sodium
            td 1/31/2015
            td $486.73
            td Inactive
            td
                .products__stat 2, 8, 8, 9, 7, 7, 5, 5, 9, 9
            td Affilate
        tr
            td 69991990
            td
                i.products__cover.fa.fa-picture-o
            td Morphine Sulfate
            td 7/12/2015
            td $560.20
            td Inactive
            td
                .products__stat 2, 6, 2, 0, 8, 0, 0, 1, 1, 7
            td Affilate
        tr
            td 85712047
            td
                i.products__cover.fa.fa-picture-o
            td Amoxicillin
            td 11/19/2015
            td $797.44
            td Inactive
            td
                .products__stat 8, 7, 3, 8, 1, 9, 0, 3, 5, 9
            td Affilate
        tr
            td 49681880
            td
                i.products__cover.fa.fa-picture-o
            td Camptosar
            td 12/18/2015
            td $1779.34
            td Inactive
            td
                .products__stat 7, 4, 7, 9, 8, 2, 0, 0, 8, 1
            td Affilate
        tr
            td 46641999
            td
                i.products__cover.fa.fa-picture-o
            td Privet
            td 9/2/2015
            td $250.66
            td Inactive
            td
                .products__stat 1, 9, 8, 7, 6, 4, 8, 5, 5, 4
            td Affilate
        tr
            td 19767598
            td
                i.products__cover.fa.fa-picture-o
            td Tamiflu
            td 5/28/2015
            td $621.54
            td Inactive
            td
                .products__stat 9, 3, 1, 6, 5, 5, 4, 2, 3, 3
            td Affilate
        tr
            td 44922568
            td
                i.products__cover.fa.fa-picture-o
            td Cefoxitin
            td 11/3/2015
            td $178.89
            td Active
            td
                .products__stat 0, 6, 4, 2, 6, 3, 8, 0, 2, 8
            td Affilate
        tr
            td 93750692
            td
                i.products__cover.fa.fa-picture-o
            td HYCAMTIN
            td 8/28/2015
            td $1518.12
            td Active
            td
                .products__stat 5, 3, 8, 5, 2, 8, 4, 3, 0, 7
            td Affilate
        tr
            td 13811646
            td
                i.products__cover.fa.fa-picture-o
            td ibuprofen
            td 7/8/2015
            td $1309.94
            td Inactive
            td
                .products__stat 1, 3, 6, 9, 8, 4, 5, 9, 6, 0
            td Affilate
        tr
            td 54329543
            td
                i.products__cover.fa.fa-picture-o
            td Isopropyl alcohol
            td 7/28/2015
            td $352.55
            td Inactive
            td
                .products__stat 5, 6, 3, 0, 0, 1, 3, 8, 1, 4
            td Affilate