table.datalist__table.table.datatable.display.table-hover(width='100%')
    thead
        tr
            th.products__id #ID
            th.products__pic Pic
            th.products__title Title
            th.products__date Date
            th.products__salary Salary
            th.products__status Status
            th.products__chart Stat
            th.products__type Type
    tbody
        tr
            td 23726997
            td
                i.products__cover.fa.fa-picture-o
            td Ala-Septic
            td 2/8/2015
            td $1086.61
            td Inactive
            td
                .products__stat 3, 9, 0, 4, 2, 2, 5, 7, 0, 1
            td Digital
        tr
            td 67064184
            td
                i.products__cover.fa.fa-picture-o
            td Paroxetine
            td 7/14/2015
            td $1790.80
            td Active
            td
                .products__stat 1, 6, 2, 5, 6, 8, 4, 7, 5, 4
            td Digital
        tr
            td 69968804
            td
                i.products__cover.fa.fa-picture-o
            td Amidate
            td 2/18/2015
            td $1326.25
            td Active
            td
                .products__stat 7, 2, 7, 9, 8, 7, 8, 0, 4, 8
            td Digital
        tr
            td 99756951
            td
                i.products__cover.fa.fa-picture-o
            td Post-Dental Visit
            td 11/13/2015
            td $456.13
            td Inactive
            td
                .products__stat 5, 4, 4, 6, 1, 5, 1, 4, 6, 7
            td Digital
        tr
            td 95746469
            td
                i.products__cover.fa.fa-picture-o
            td Ready Foundation
            td 3/3/2015
            td $1727.67
            td Inactive
            td
                .products__stat 8, 0, 3, 5, 2, 3, 7, 1, 5, 1
            td Digital
        tr
            td 61973777
            td
                i.products__cover.fa.fa-picture-o
            td Olanzapine
            td 4/6/2015
            td $15.60
            td Active
            td
                .products__stat 2, 6, 1, 6, 8, 6, 5, 1, 0, 6
            td Digital
        tr
            td 14807692
            td
                i.products__cover.fa.fa-picture-o
            td Cefuroxime Axetil
            td 11/27/2015
            td $1723.96
            td Inactive
            td
                .products__stat 4, 4, 5, 7, 9, 7, 8, 4, 9, 4
            td Digital
        tr
            td 37894276
            td
                i.products__cover.fa.fa-picture-o
            td Dexamethasone
            td 3/22/2015
            td $750.15
            td Active
            td
                .products__stat 1, 7, 9, 3, 2, 1, 8, 2, 6, 7
            td Digital
        tr
            td 13283965
            td
                i.products__cover.fa.fa-picture-o
            td Headache relief
            td 12/10/2015
            td $1676.76
            td Active
            td
                .products__stat 1, 0, 5, 9, 3, 1, 1, 3, 5, 9
            td Digital
        tr
            td 41666893
            td
                i.products__cover.fa.fa-picture-o
            td Ranitidine
            td 5/24/2015
            td $1323.92
            td Inactive
            td
                .products__stat 8, 6, 9, 3, 1, 9, 6, 0, 6, 1
            td Digital
        tr
            td 58015278
            td
                i.products__cover.fa.fa-picture-o
            td Metoclopramide
            td 6/21/2015
            td $474.63
            td Inactive
            td
                .products__stat 0, 0, 6, 8, 3, 4, 6, 5, 3, 9
            td Digital
        tr
            td 46327855
            td
                i.products__cover.fa.fa-picture-o
            td UNITHROID
            td 4/19/2015
            td $754.52
            td Active
            td
                .products__stat 9, 8, 6, 8, 8, 3, 1, 6, 1, 2
            td Digital
        tr
            td 90124738
            td
                i.products__cover.fa.fa-picture-o
            td Carimune
            td 4/2/2015
            td $1699.75
            td Inactive
            td
                .products__stat 4, 2, 9, 0, 5, 4, 2, 0, 6, 6
            td Digital
        tr
            td 59011873
            td
                i.products__cover.fa.fa-picture-o
            td HGH Complex
            td 5/25/2015
            td $1504.66
            td Inactive
            td
                .products__stat 9, 5, 8, 8, 0, 8, 8, 9, 3, 0
            td Digital
        tr
            td 93187970
            td
                i.products__cover.fa.fa-picture-o
            td AsthmaCare
            td 1/16/2015
            td $312.63
            td Active
            td
                .products__stat 4, 5, 5, 2, 2, 3, 6, 8, 1, 8
            td Digital
        tr
            td 83627698
            td
                i.products__cover.fa.fa-picture-o
            td Lorazepam
            td 8/27/2015
            td $1549.42
            td Active
            td
                .products__stat 3, 6, 3, 1, 0, 3, 3, 0, 4, 4
            td Digital
        tr
            td 80756429
            td
                i.products__cover.fa.fa-picture-o
            td Vitafol
            td 2/10/2015
            td $527.14
            td Active
            td
                .products__stat 9, 2, 6, 2, 6, 1, 3, 0, 8, 3
            td Digital
        tr
            td 17816111
            td
                i.products__cover.fa.fa-picture-o
            td Neosporin Original
            td 7/8/2015
            td $1455.37
            td Active
            td
                .products__stat 2, 8, 4, 6, 1, 3, 4, 0, 2, 7
            td Digital
        tr
            td 96769682
            td
                i.products__cover.fa.fa-picture-o
            td Cheratussin AC
            td 7/12/2015
            td $1708.15
            td Active
            td
                .products__stat 0, 0, 7, 1, 3, 1, 8, 4, 6, 3
            td Digital
        tr
            td 98729112
            td
                i.products__cover.fa.fa-picture-o
            td DEMEROL
            td 6/7/2015
            td $1004.53
            td Inactive
            td
                .products__stat 5, 8, 0, 4, 0, 2, 7, 1, 8, 9
            td Digital
        tr
            td 45814805
            td
                i.products__cover.fa.fa-picture-o
            td Q Tussin DM
            td 4/20/2015
            td $761.50
            td Active
            td
                .products__stat 3, 2, 8, 9, 8, 4, 6, 8, 8, 6
            td Digital
        tr
            td 60833835
            td
                i.products__cover.fa.fa-picture-o
            td Acid Controller
            td 10/6/2015
            td $681.41
            td Active
            td
                .products__stat 3, 2, 1, 5, 5, 9, 9, 4, 0, 7
            td Digital
        tr
            td 59026432
            td
                i.products__cover.fa.fa-picture-o
            td ProBLEN Libido
            td 12/7/2015
            td $335.93
            td Inactive
            td
                .products__stat 1, 0, 4, 9, 5, 8, 2, 9, 5, 1
            td Digital
        tr
            td 13471645
            td
                i.products__cover.fa.fa-picture-o
            td Bug Away
            td 4/19/2015
            td $430.83
            td Active
            td
                .products__stat 0, 6, 9, 2, 3, 4, 5, 1, 3, 1
            td Digital
        tr
            td 19367262
            td
                i.products__cover.fa.fa-picture-o
            td SAPHRIS
            td 12/10/2015
            td $1626.00
            td Inactive
            td
                .products__stat 4, 8, 3, 8, 3, 5, 2, 3, 4, 7
            td Digital
        tr
            td 14382666
            td
                i.products__cover.fa.fa-picture-o
            td Amitiza
            td 11/28/2015
            td $241.25
            td Inactive
            td
                .products__stat 2, 1, 1, 9, 3, 9, 0, 8, 5, 1
            td Digital