table.datalist__table.table.datatable.display.table-hover(width='100%')
    thead
        tr
            th.users__table-id #ID
            th.users__table-name Name
            th.users__table-location Location
            th.users__table-contact Contact
            th.users__table-date Date
            th.users__table-salary Salary
            th
            th
            th.users__table-status Status
    tbody
        tr
            td 9991
            td Douglas Stevens
            td Voiron
            td dstevens0@tripadvisor.com
            td 9/13/2015
            td $20705.16
            td Admin
            td [9, 6, 6, 7, 4, 5, 3, 1, 9, 0, 4, 2, 7, 1, 0, 7, 7, 6]
            td Inactive
        tr
            td 6193
            td William Sullivan
            td Rungis
            td wsullivan2@nydailynews.com
            td 7/9/2015
            td $19482.56
            td Admin
            td [6, 6, 4, 2, 1, 0, 5, 9, 4, 3, 2, 6, 0, 6, 8, 5, 0, 7]
            td Active
        tr
            td 6314
            td Kimberly Warren
            td Chengjiao
            td kwarren4@engadget.com
            td 9/27/2015
            td $9338.88
            td Admin
            td [9, 0, 6, 4, 9, 9, 4, 8, 8, 9, 8, 0, 5, 9, 2, 4, 7, 1]
            td Inactive
        tr
            td 4420
            td Jennifer Reynolds
            td Primorskiy
            td jreynolds7@foxnews.com
            td 4/4/2015
            td $15742.75
            td Admin
            td [9, 5, 6, 0, 3, 0, 8, 1, 1, 8, 4, 3, 5, 2, 9, 8, 8, 5]
            td Active
        tr
            td 8790
            td Julia Hicks
            td Daszewice
            td jhicksc@springer.com
            td 2/5/2015
            td $19875.40
            td Admin
            td [0, 4, 5, 3, 8, 8, 3, 4, 3, 2, 0, 9, 3, 2, 8, 1, 2, 3]
            td Active
        tr
            td 6341
            td Gloria Cook
            td Podhum
            td gcookj@geocities.jp
            td 6/27/2015
            td $14724.11
            td Admin
            td [4, 4, 3, 4, 3, 9, 7, 0, 6, 0, 1, 5, 4, 1, 3, 7, 5, 7]
            td Active
        tr
            td 0646
            td Tammy Ross
            td Neietsu
            td trossl@admin.ch
            td 3/14/2015
            td $16340.46
            td Admin
            td [9, 8, 9, 4, 3, 5, 8, 5, 2, 6, 0, 4, 0, 5, 8, 3, 5, 8]
            td Inactive
        tr
            td 8090
            td Samuel Young
            td Tilburg
            td syoungx@vk.com
            td 5/5/2015
            td $27611.84
            td Admin
            td [0, 9, 5, 2, 6, 3, 4, 5, 5, 2, 4, 9, 0, 8, 7, 8, 2, 8]
            td Active
        tr
            td 9793
            td Nicole Perez
            td Watoona
            td nperez11@npr.org
            td 3/24/2015
            td $21375.56
            td Admin
            td [8, 3, 8, 9, 4, 8, 2, 4, 7, 3, 7, 8, 2, 9, 6, 5, 4, 4]
            td Active
        tr
            td 4258
            td Victor Lynch
            td Meylan
            td vlynch15@craigslist.org
            td 7/4/2015
            td $12560.31
            td Admin
            td [6, 7, 4, 5, 3, 6, 4, 1, 8, 2, 6, 9, 3, 6, 2, 0, 8, 7]
            td Inactive
        tr
            td 9441
            td Harry Shaw
            td Old Shinyanga
            td hshaw16@java.com
            td 8/23/2015
            td $6158.76
            td Admin
            td [1, 2, 5, 3, 6, 7, 4, 3, 0, 3, 4, 4, 7, 6, 4, 1, 2, 3]
            td Active
        tr
            td 1704
            td Michael Peters
            td Wringinsari
            td mpeters1c@1688.com
            td 6/27/2015
            td $25229.82
            td Admin
            td [5, 4, 0, 0, 7, 5, 9, 8, 5, 3, 3, 1, 4, 8, 3, 5, 6, 8]
            td Inactive
        tr
            td 7689
            td Eugene Fernandez
            td Heshan
            td efernandez1i@usda.gov
            td 10/19/2015
            td $28109.26
            td Admin
            td [2, 0, 4, 8, 0, 5, 8, 9, 7, 7, 7, 4, 0, 8, 7, 7, 9, 8]
            td Active
        tr
            td 6426
            td Donald Cook
            td La Carlota
            td dcook1l@msu.edu
            td 2/7/2015
            td $17238.34
            td Admin
            td [8, 3, 2, 5, 2, 5, 2, 4, 3, 9, 8, 5, 8, 3, 5, 2, 3, 8]
            td Active
        tr
            td 3247
            td Mary Graham
            td Evinayong
            td mgraham1n@comcast.net
            td 9/30/2015
            td $7407.78
            td Admin
            td [0, 6, 6, 7, 9, 1, 2, 0, 5, 5, 4, 8, 4, 8, 0, 3, 9, 0]
            td Active
        tr
            td 7326
            td Angela Larson
            td Phatthana Nikhom
            td alarson1o@slideshare.net
            td 2/26/2015
            td $19318.43
            td Admin
            td [2, 1, 3, 4, 9, 3, 9, 6, 7, 1, 5, 3, 5, 0, 1, 0, 9, 5]
            td Inactive
        tr
            td 2675
            td Cynthia Stewart
            td Rumburk
            td cstewart1w@bandcamp.com
            td 3/31/2015
            td $3494.88
            td Admin
            td [8, 0, 9, 1, 6, 3, 2, 3, 9, 6, 1, 6, 3, 8, 0, 0, 7, 3]
            td Inactive
        tr
            td 7347
            td Evelyn Welch
            td Quintas
            td ewelch24@umich.edu
            td 4/3/2015
            td $4141.18
            td Admin
            td [2, 6, 9, 3, 3, 1, 4, 1, 5, 9, 5, 3, 7, 7, 8, 1, 4, 1]
            td Active
        tr
            td 2976
            td Patrick Bennett
            td Houston
            td pbennett25@lulu.com
            td 11/30/2015
            td $17849.01
            td Admin
            td [2, 4, 8, 5, 3, 4, 0, 8, 1, 0, 5, 5, 6, 6, 7, 9, 8, 6]
            td Active
        tr
            td 9767
            td Patricia Gray
            td Montpellier
            td pgray27@blinklist.com
            td 8/5/2015
            td $8233.93
            td Admin
            td [0, 6, 0, 2, 1, 9, 3, 8, 4, 1, 3, 4, 4, 2, 7, 2, 6, 7]
            td Inactive
        tr
            td 7945
            td Roy Hart
            td Akzhal
            td rhart2c@gizmodo.com
            td 7/16/2015
            td $28796.39
            td Admin
            td [9, 1, 5, 3, 5, 7, 4, 2, 2, 6, 3, 5, 4, 7, 0, 6, 8, 0]
            td Active
        tr
            td 6530
            td Angela Allen
            td Santa Eulalia
            td aallen2f@foxnews.com
            td 6/21/2015
            td $26793.07
            td Admin
            td [1, 0, 5, 9, 2, 3, 4, 6, 6, 8, 9, 1, 2, 8, 9, 7, 7, 8]
            td Inactive
        tr
            td 0894
            td Jean Schmidt
            td Prapen
            td jschmidt2h@oakley.com
            td 2/3/2015
            td $20548.59
            td Admin
            td [0, 4, 5, 5, 5, 9, 4, 6, 5, 5, 7, 0, 5, 7, 0, 9, 9, 6]
            td Active
        tr
            td 0341
            td Wayne Ward
            td La Suiza
            td wward2p@homestead.com
            td 6/5/2015
            td $28737.41
            td Admin
            td [8, 2, 4, 3, 2, 8, 1, 9, 8, 3, 3, 7, 1, 0, 3, 6, 6, 9]
            td Inactive